body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 90%;
}
@font-face {
  font-family: "MyCustomFont";
  src: url("../public/PTSerif-Bold.ttf") format("woff2");
}

.slider-container {
  height: 90vh; /* Full viewport height */
  width: 100%; /* Full width */
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f5f5f5;
}

.slick-dots {
  bottom: 20px;
}
